body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.side-button {
  width: 2.35rem;
  height: 2.35rem;
  margin: 3px auto 3px auto;
  border-radius: 5px;
}

.button-label {
  color: white;
  font-size: 10px;
  margin-top: 0;
}

.list-item {
  background-color: #F8F8F8;
  border: solid #D3D3D3;
  border-width: 0 0 1px 0;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .25);
}

.list-item-title {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-size: 12px;
  font-weight: bold;
}

.list-item-content {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

#active-circle {
  position: absolute;
  top: 5.1rem;
  left: -0.3rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
	background: radial-gradient(#db0a5b, #363636);
}

#top-bar {
  width: 100%;
  height: 3.4rem;
  border-bottom: 1px solid #D3D3D3;
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .25);
}

#logo-headline-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#logo-container {
  background-color: #db0a5b;
  width: 3.6rem;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: visible;
}

#logo {
  width: 2.1rem;
  height: 2.5rem;
}

#headline {
  font-weight: normal;
  white-space: nowrap;
  margin-left: 1.2rem;
  font-weight: 200;
  height: 20px;
  line-height: 20px;
  font-size: 22px;
}

#menu {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 100%;
  overflow: scroll;
}

#side-bar {
  background-color: #363636;
  border-top: 1px solid;
  max-height: 100%;

  width: 3.6rem;
  display: flex;
  flex-direction: column;
}

#side-bar:first-child {
  padding-top: 0.3rem;
}

#item-list {
  background-color: #D0D0D0;
  max-height: 100%;

  width: 26.55%;
  border-right: 1px solid #D3D3D3;
  overflow: scroll;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .25);
}

#main-panel {
  max-height: 100%;
  width: 69.9%;
}

#main-headline {
  margin: 1.6rem 2rem 0.3rem 2rem;
  font-size: 19px;
}

#main-subheader {
  margin: 0 2rem 0 2rem;
  font-style: italic;
  font-size: 15px;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 0.8rem;
  max-width: 47rem;
}

#main-intro, #main-conclusion {
  font-size: 13px;
  margin-left: 2rem;
  margin-right: 2rem;
}

#main-intro:first-letter {
  font-size: 40px;
  float: left;
  margin-right: 0.5rem;
  line-height: 30px;
}

#main-image {
  width: 29.5rem;
  height: 10rem;
  background-color: #A8A8A8;
  margin: 1.7rem auto 0 auto;
}

#main-caption {
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  margin-top: 0.2rem;
}

#chatbox-container {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #D3D3D3;
  padding-top: 1.5%;
}

#chatbox {
  width: 66.3vw;
  height: 2.5rem;
  position: relative;
  left: 1.5%;
}

@media (max-height: 800px) {
  #main-container {
    max-height: 92.5%;
  }
}
